<div class="header">
       
    <div   class="containers">  
                  
    <ul *ngIf="myVar" class="menubar">
        <a> <i class="fa fa-close cross-set" (click)="disp();" style="font-size:24px"></i> </a> 
        <li class="temp">
            <a tabindex="-1" >People</a>
            <ul class="menubars">

                <li class="temp"><a tabindex="-1" >My Profile</a></li>
                <li class="temp"><a >My Team</a></li>
                <li class="temp"><a >Research</a></li>
                <li class="temp"><a >Alumni</a></li>
                <li class="temp"><a >Talent finder</a></li>
                <li class="temp">
                    <a >Company Directory</a>
                    <ul class="parent">
                        <li class="temp">
                            <a >
                                Approved Product List                                        
                            </a>

                            <ul class="child">
                                <li class="temp"><a >Platforms</a></li>
                                <li class="temp"><a >Managed Funds</a></li>
                                <li class="temp"><a >Wealth Protection</a></li>
                                <li class="temp"><a >Listed Securities</a></li>
                                <li class="temp"><a >Wealth Protection</a></li>
                                <li class="temp"><a >Listed Securities</a></li>
                                <li class="temp" ><a >Listed Securities</a></li>
                            </ul>

                        </li>
                       
                    </ul>
                </li>
                <li class="temp"><a >Manage Folder</a></li>
                <li class="temp"><a >Org Chart</a></li>
                
            </ul>
        </li>

        <li class="temp">
            <a tabindex="-1" >Leave</a>
            <ul class="menubars">

                <li class="temp"><a tabindex="-1" >Create a Leave Request</a></li>
                <li class="temp"><a >Approve Leave Requests</a></li>
                <li class="temp"><a >My Leave Requests</a></li>
                <li class="temp"><a >Team's Leave Requests</a></li>
                <li class="temp"><a >Leave Balances</a></li>                           
                <li class="temp"><a >Teams Leave Balances</a></li>
                <li class="temp"><a >Leave Details</a></li>
                <li class="temp"><a >Teams Leave Details</a></li>
                <li class="temp"><a >Balances as on Date</a></li>
                
            </ul>
        </li>



        <li class="temp">
            <a tabindex="-1" >Attendances</a>
            <ul class="menubars">

                <li class="temp"><a tabindex="-1" >Create an Out-on-Work Request</a></li>
                <li class="temp"><a >Mark Past Attendance</a></li>
                <li class="temp"><a >Plan Activity</a></li>
                <li class="temp"><a >Submit Timesheet</a></li>
                <li class="temp"><a >Approve Out-on-Work Requests</a></li>                           
                <li class="temp"><a >Approve Past Attendance Requests</a></li>
                <li class="temp"><a >Approve Timesheets</a></li>
                <li class="temp"><a >Approve Billable Time </a></li>
               
                
                <li class="temp"><a >Manage Projects </a></li>
                <li class="temp"><a >Manage Accounts </a></li>
                <li class="temp"><a >Manage Roaster </a></li>
                <li class="temp"><a >Reports </a></li>
                
            </ul>
        </li>
          

        <li class="temp">
            <a tabindex="-1" >Travel</a>
            <ul class="menubars">

                <li class="temp"><a tabindex="-1" >Module Not Available</a></li>
                
                
            </ul>
        </li>

        <li class="temp">
            <a tabindex="-1" >Expenses</a>
            <ul class="menubars">

                <li class="temp"><a tabindex="-1" >Module Not Available</a></li>
                
                
            </ul>
        </li>



        <li class="temp">
            <a tabindex="-1" >Compensation</a>
            <ul class="menubars">

                <li class="temp"><a tabindex="-1" >Create Claim</a></li>
                <li class="temp"><a >Approve Claim</a></li>
                <li class="temp"><a >Approve Payments</a></li>
                <li class="temp"><a >View Claims</a></li>
                <li class="temp"><a >View All Claims</a></li>
                <li class="temp"><a >Tax declaration</a></li>
                <li class="temp"><a >My Compensation</a></li>
                
            </ul>
        </li>


        <li class="temp">
            <a tabindex="-1" >Performance</a>
            <ul class="menubars">

                <li class="temp"><a tabindex="-1" >Module Not Available</a></li>
                
                
            </ul>
        </li>


        


        <li class="temp">
            <a tabindex="-1" >Hiring</a>
            <ul class="menubars">

                <li class="temp"><a tabindex="-1" >Create a Hiring List</a></li>
                <li class="temp"><a >Refer a Job</a></li>
                <li class="temp"><a >Approve Hiring Requests</a></li>
                <li class="temp"><a >Submit Candidate Evaluation</a></li>
                <li class="temp"><a >View My Hiring Requests</a></li>
                <li class="temp"><a >View Hiring Requests</a></li>
                <li class="temp"><a >Open Position</a></li>
                <li class="temp"><a >View Internal Job Posting</a></li>
                
            </ul>
        </li>


        <li class="temp">
            <a tabindex="-1" >Training</a>
            <ul class="menubars">

                <li class="temp"><a tabindex="-1" >Module Not Available</a></li>
                
                
            </ul>
        </li>





        <li class="temp">
            <a tabindex="-1" >Sepration</a>
            <ul class="menubars">

                <li class="temp"><a tabindex="-1" >Create a Separation Request</a></li>
                <li class="temp"><a >View Separation Requests</a></li>
                <li class="temp"><a >View Clearance Requests</a></li>
                <li class="temp"><a >View Exit Feedbacks</a></li>
               
                
            </ul>
        </li>


        <li class="temp">
            <a tabindex="-1" >Reports</a>
            <ul class="menubars">

                <li class="temp"><a tabindex="-1" >View Reports</a></li>
                <li class="temp"><a >Create Report</a></li>
                <li class="temp"><a >Delete Report</a></li>
                <li class="temp"><a >View Exit Feedbacks</a></li>
               
                
            </ul>
        </li>
    </ul>

</div>
<div class="row custom-row-width">
<div class="col-md-2">
<div class="row">
<div class="col-sm-2">
    <a class="wid-set">  <i class="fa fa-bars menu-set" (click)="disp();" ></i></a>    
</div>
<div class="col-sm-10">
  <img class="img-responsive setimg" src="http://192.168.1.36:8080/asperm/company-image/{{companyCode}}">
</div>
</div>
</div>
<div class="col-md-10">
  <div class="row">

    <div class="col-md-4">
      <div class="naming">
      <strong class="fonts" >{{UserName?.username}}</strong> 
      </div>
    </div>


    <div class="col-md-4">
      <font class="time fonts">
        <p class="timi">You marked in at 09:48am</p>
      </font>
    </div>


    <div class="col-md-4">
      <div class="head-right">

       
          



        <div class="centered fonts">


<div class="time emp openMenu">
 <div class="row">
     <div class="col-sm-10">
 <span class="emp-portal">EmployWise Support Portal</span>
</div>
<div class="col-sm-2">

</div>
</div>
</div>
        
        
        
        
        </div>
        <div class="home-log">
          <span>
            <a  class="time support fonts" [routerLink]="['/dashboard']">Home</a>
          </span>
          <span>
            <a class="time out fonts" [routerLink]="['/']">Log out</a>
          </span>
          <span>
            <a  class="time changepass fonts">Change Password</a>
          </span>
        </div>
      </div>
    </div>




  </div>
  <hr class="time">

  <div class="row">
    <div class="col-md-6">


      <span>
        <a  [routerLink]="['/myProfile']" class="time support fonts profile-set">My Profile</a>
      </span>

      <span>
        <a [routerLink]="['/myTeam']" class="time support fonts">My Team</a>
      </span>




    </div>

    <div class="col-md-6">


    </div>
  </div>

</div>
</div>
</div>