<div class="" >
    <div class="setting-edit">
      <div class="row">
        <div class="col-md-12">
          <div class="text-sets"><span class="tex-sets">Personal<span class="span-set"> <i (click)="dialogRef.close()"
                  class="fa fa-times-circle"></i></span> </span>
          </div>
        </div>
      </div>
  
  <!-- Sass --><div class="container back-head-color">
  
          <div class="row">
              <div class="col-md-6">
              <label><b>Employee Name:</b></label><span>  </span>
              
                </div>
              
                <div class="col-md-6">
                    <label><b>Employee Code:</b></label><span>   </span>
              
                  </div>
              
              
              </div>
              
              </div>
  
      <div class="row pad-setting">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Personal</a>
          </li>
  
  
        </ul>
        <div class="tab-content setting-tab-width" id="myTabContent">
  
  
  
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="text-sets edu"><span class="tex-sets">Personal</span>
            </div>
            <div class="row padd-set">
  <div class="col-md-2">
      </div>
              <div class="col-md-10">
                <div >
                  
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form_main">
                                    <h4 class="heading"><strong>Personal </strong> Details <span></span></h4>
                                    <div class="form">
                                    <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm">
                                    
                                    <select class="form-control" name="name">
                                    
                                      <option selected="true" id="selct-opt" disabled="">---Education Level---</option>
                                    <option value="Graduation">Graduation</option>
                                    <option value="Post Graduation">Post Graduation</option>
                                   <option value="P.hd<">P.hd</option>
                                     <option value="Doctrate">Doctrate</option>
                                    
                                    
                                    
                                    </select>
                                    
                                    <br>
                                    <select class="form-control" name="name">
                                    
                                      <option selected="true" id="selct-opt" disabled="">---Qualification / Degree*:---</option>
                                    <option value="Graduation">Graduation</option>
                                    <option value="Post Graduation">Post Graduation</option>
                                   <option value="P.hd<">P.hd</option>
                                     <option value="Doctrate">Doctrate</option>
                                    
                                    
                                    
                                    </select>	
                                    
                                        <input type="text" required="" placeholder="College / Institute / Univ:" value="" name="name" class="txt">
                                        <input type="text" required="" placeholder="Area of Specialisation:" value="" name="mob" class="txt">
                                         <input type="text" required="" placeholder="Score:" value="" name="mob" class="txt">
                                        
                                        
                                        <select class="form-control" name="name">
                                    
                                      <option selected="true" id="selct-opt" disabled="">---Year of Passing:---</option>
                                    <option value="Graduation">2010</option>
                                    <option value="Post Graduation">2012</option>
                                   <option value="P.hd<">2014</option>
                                     <option value="Doctrate">2016</option>
                                    
                                    
                                    
                                    </select>
                                        <br>
                                        <label>Is Highest Education Level*:</label><br>
                                         <label class="radio-inline">
                          <input type="radio" name="optradio">Yes
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="optradio">No
                        </label>
                                                           <br>               	
                                         <input type="submit" class="sub-sett txt2" value="submit" name="submit" >
                                    </form>
                                </div>
                                </div>
                                </div>
                                
                                <div class="col-md-6">
                                <div class="temp">
                                    <p class="validation">Please Select a Education</p>
                                </div>
                                <div class="qual">
                                    <span class="validation">Please Select a Qualification</span>
                                    </div>
                                </div>
                                
                                
                                
                                
                                
                                </div>


                </div>
              </div>
  
            </div>
  
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            Two
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            three
          </div>
        </div>
  
  
  
      </div>
  
    </div>
  </div>
  
  
  
  
  