<div class="" >
  <div class="setting-edit">
    <div class="row">
      <div class="col-md-12">
        <div class="text-sets"><span class="tex-sets">Contact<span class="span-set"> <i (click)="dialogRef.close()"
                class="fa fa-times-circle"></i></span> </span>
        </div>
      </div>
    </div>

<!-- Sass --><div class="container back-head-color">

        <div class="row">
            <div class="col-md-6">
            <label><b>Employee Name:</b></label><span>  </span>
            
              </div>
            
              <div class="col-md-6">
                  <label><b>Employee Code:</b></label><span>   </span>
            
                </div>
            
            
            </div>
            
            </div>

    <div class="row pad-setting">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Contact</a>
        </li>


      </ul>
      <div class="tab-content setting-tab-width" id="myTabContent">



        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="text-sets edu"><span class="tex-sets">Contact</span>
          </div>
          <div class="row padd-set">

            <div class="col-md-12">
              <div style="overflow-x:auto;">
                <div class="container">
                  <div class="row">
                          <div class="col-md-12">
              <br>
                              <div  class="row">
                              <form class="formset">
                              <div class="row">
                              <div class="col-md-2">
                              </div>
                              <div class="col-md-10">
          
                         
                                <div class="form-row">
                                  <div class="form-group col-md-6 cust-set">
                                    <label for="inputEmail4"><b>Education Level:</b></label>
                                    <select class="form-control" name="name">
                                      
                                        <option selected="true" id="selct-opt" disabled>---Select Education Level---</option>
                                      <option value="Graduation">School</option>
                                              <option value="Post Graduation">Graduation</option>
                                             <option value="P.hd<">Post Graduation</option>
                                               <option value="Doctrate">Doctrate</option>
                                      
                                      
                                      
                                      </select>
                                      
                                      <p class="validation">Please Select a education</p>
                                  </div>
                                  <div class="form-group col-md-6 cust-set">
                                    <label for="inputPassword4"><b>Qualification / Degree*:</b></label>
                                   <select class="form-control txt" name="name" >
                                      
                                        <option selected="true" id="selct-opt" disabled>---Qualification / Degree*:---</option>
                                      <option value="Graduation">Graduation</option>
                                              <option value="Post Graduation">Post Graduation</option>
                                             <option value="P.hd<">P.hd</option>
                                               <option value="Doctrate">Doctrate</option>
                                      
                                      
                                      
                                      </select>
                                      <p class="validation">Please Select a Qualification</p>
                                  </div>
                                </div>
                                
                                
                                
                                  <div class="form-row">
                                  <div class="form-group col-md-6 cust-set">
                                    <label for="inputEmail4"><b>College / Institute / Univ:</b></label>
                                       <input type="text" class="form-control" id="inputAddress" placeholder="Your College or school name">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="inputPassword4"><b>Area of specilization:</b></label>
                                  <input type="text" class="form-control" id="inputAddress" placeholder="Your Area of Specilization">
                                  </div>
                                </div>
                                
                                
                                
                                
                                <div class="form-row">
                                  <div class="form-group col-md-6 cust-set">
                                    <label for="inputEmail4"><b>Year of Passing:</b></label>
                                    <select class="form-control txt" name="name" >
                                      
                                        <option selected="true" id="selct-opt" disabled>---Year of passing---</option>
                                      <option value="Graduation">2010</option>
                                              <option value="Post Graduation">2012</option>
                                             <option value="P.hd<">2014</option>
                                               <option value="Doctrate">2016</option>
                                      
                                      
                                      
                                      </select>
                                  </div>
                                  <div class="form-group col-md-6 cust-set">
                                    <label for="inputPassword4"><b>Score:</b>
                              </label>
                                 <input type="text" class="form-control" id="inputAddress" placeholder="Enter Your Score">
                                  </div>
                                </div>
                                
                                
                                <div class="form-row">
                                <div class="form-group col-md-12">
                                 <label for="inputPassword4"><b>Is Highest Education Level *:</b>
                              </label>&nbsp;&nbsp;
                                  <label class="radio-inline">
                                    <input type="radio" name="optradio">YES
                                  </label>&nbsp;&nbsp;
                                  <label class="radio-inline">
                                    <input type="radio" name="optradio">NO
                                  </label>
                                </div>
                                </div>
                                
                                 <div class="form-row">
                                <div class="form-group col-md-12">
                                <button type="submit" class="btn set-colors">Submit</button>
                                </div>
                                </div>
                                </div>
                                
                                
                              </div> 
                              </form>
                              </div>
                    </div></div>
                    
                    </div>
              </div>
            </div>

          </div>

        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          Two
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          three
        </div>
      </div>



    </div>

  </div>
</div>





















<!-- sanchit -->


