<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link need-act" id="home-tabs" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
      <b>Need to Act</b>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active need-act" id="profile-tabs" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
      <b>My Request(0)</b>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link need-act" id="contact-tabs" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
      <b>Calenders</b>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link need-act" id="library-tabs" data-toggle="tab" href="#library" role="tab" aria-controls="library" aria-selected="false">
      <b>Library</b>
    </a>
  </li>


  <li class="nav-item">
    <a class="nav-link need-act" id="rewards-tabs" data-toggle="tab" href="#rewards" role="tab" aria-controls="rewards" aria-selected="false">
      <b>Rewards</b>
    </a>
  </li>



</ul>
<div class="tab-content" id="myTabContent">
  <div class="set-tab">

    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

     <div class="grey-line">
       <div class="row">
         <div class="col-md-3">
       <span><small><b>Applied On </b><i class="fa fa-caret-down" style="font-size:16px"></i></small></span>
       </div>
       <div class="col-md-3">
       <span><small><b>Subject</b><i class="fa fa-caret-down" style="font-size:16px"></i></small></span>
      </div>
      <div class="col-md-3">
       <span><small><b>To</b><i class="fa fa-caret-down" style="font-size:16px"></i></small></span>
      </div>
      <div class="col-md-3">
       <span><small><b>Status</b><i class="fa fa-caret-down" style="font-size:16px"></i></small></span>
      </div>
       </div>
      </div>

    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <div class="grey-line">
            <div class="row">
              <div class="col-md-3">
            <span><small><b>Applied On </b><i class="fa fa-caret-down" style="font-size:16px"></i></small></span>
            </div>
            <div class="col-md-3">
            <span><small><b>Subject</b><i class="fa fa-caret-down" style="font-size:16px"></i></small></span>
           </div>
           <div class="col-md-3">
            <span><small><b>To</b><i class="fa fa-caret-down" style="font-size:16px"></i></small></span>
           </div>
           <div class="col-md-3">
            <span><small><b>Status</b><i class="fa fa-caret-down" style="font-size:16px"></i></small></span>
           </div>
            </div>
           </div>


    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

    </div>
       
    <div class="tab-pane fade" id="library" role="tabpanel" aria-labelledby="library-tab">
      Library
    </div>


    <div class="tab-pane fade" id="rewards" role="tabpanel" aria-labelledby="rewards-tab">
      Rewards
    </div>




  </div>
</div>
