<div class="">
  <div class="setting-edit">
    <div class="row">
      <div class="col-md-12">
        <div class="text-sets"><span class="tex-sets">Assets<span class="span-set"> <i (click)="dialogRef.close()"
                class="fa fa-times-circle"></i></span> </span>
        </div>
      </div>
    </div>

    <!-- Sass -->
    <div class="container back-head-color">
      <!--     
        <div class="row">
            <div class="col-md-6">
            <label><b>Employee Name:</b></label><span>  {{EmpDetails.userName}}</span>
            
              </div>
            
              <div class="col-md-6">
                  <label><b>Employee Code:</b></label><span>   {{EmpDetails.genId}}</span>
            
                </div>
            
            
            </div> -->

    </div>

    <div class="row pad-setting">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Assets</a>
        </li>


      </ul>
      <div class="tab-content setting-tab-width" id="myTabContent">



        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="text-sets edu"><span class="tex-sets">Assets</span>
          </div>
          <div class="row padd-set">

            <div class="col-md-12">
              <div class="cheking-to">

                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <br>
                      <div class="row">
                        <form class="formset">
                          <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-10">


                              <div class="form-row">
                                <div class="form-group col-md-6 cust-set">
                                  <div class="example-container">

                                    <mat-form-field>
                                      <mat-select placeholder="Education Level">
                                        <mat-option value="graduation">graduation</mat-option>
                                        <mat-option value="school">school</mat-option>
                                        <mat-option value="post graduation">post graduation</mat-option>
                                      </mat-select>
                                    </mat-form-field>



                                    <mat-form-field>
                                      <mat-select placeholder="Qualification/Degree">
                                        <mat-option value="graduation">CS</mat-option>
                                        <mat-option value="school">ECE</mat-option>
                                        <mat-option value="post graduation">IT</mat-option>
                                      </mat-select>
                                    </mat-form-field>



                                    <mat-form-field>
                                      <input matInput placeholder="College / Institute / Univ">
                                    </mat-form-field>

                                    <mat-form-field>
                                      <input matInput placeholder="Area of Specilization">
                                    </mat-form-field>
                                    <mat-form-field>
                                      <mat-select placeholder="Year of Passing">
                                        <mat-option value="graduation">CS</mat-option>
                                        <mat-option value="school">ECE</mat-option>
                                        <mat-option value="post graduation">IT</mat-option>
                                      </mat-select>
                                    </mat-form-field>

                                    <mat-form-field>
                                      <input matInput placeholder="Score">
                                    </mat-form-field>

                                    <label>Is this your Highest level of education:
                                    </label>
                                    <mat-radio-group>
                                      <mat-radio-button value="1">Yes</mat-radio-button>&nbsp;&nbsp;
                                      <mat-radio-button value="2">No</mat-radio-button>
                                    </mat-radio-group>


                                  </div>
                                </div>

                              </div>













                              <div class="form-row">
                                <div class="form-group col-md-12">
                                  <button type="submit" class="btn set-colors">Submit</button>
                                </div>
                              </div>
                            </div>


                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>







              </div>
            </div>

          </div>

        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          Two
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          three
        </div>
      </div>



    </div>

  </div>
</div>