<div class="container">
  <div class="row">
  <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="login-page">
  

        
    <form name="form" >    
      <label>Customer Name:</label>
      
  <select class="form-control" (change)="onCustomerNameChange($event.target.value)">
      <option selected="true" id="selct-opt" disabled>---Select your Customer---</option>
      <option *ngFor="let login of loginData" id="selct-opt" name="customer" >{{ login.CustomerName }}</option>
    
  </select>
  <br/>
  <label>Company Name:</label>

  <select  class="form-control" (click)="onCompanyNameChange($event.target.value)">
      <option selected="true" id="selct-opt" disabled>---Select your Company---</option>

    <option *ngFor="let company of companyList"  id="selct-opt" name="customer" >{{ company.CompanyName }}</option>
  </select>
  <br/>
  <label>User Name:</label>

  <select  class="form-control" name="user" (change)="userSelection($event.target.value)">
      <option selected="true" id="selct-opt" disabled>---Select your User---</option>

      <option *ngFor="let users of usersList" selected="true" id="selct-opt">{{users.userName}}</option>
  </select>
  <br/>
  <div class="sub-data"><input class="form-control" [routerLink]="['/dashboard']" type="submit" class="sub" value="Login"></div>
  
  </form>
  </div>
  </div>
  <div class="col-md-4">
    </div>
  </div>
  </div>
 