<div class="container-fluid">
  <app-navbar></app-navbar>
  <br/>
  <div class="main-content">
  <div class="row">
    <div class="col-md-9 custom-width">
      <app-ongoing-events></app-ongoing-events>
    </div>
    <div class="col-md-3">
      <div class="sidebar">
          <app-ew-dashboard-search></app-ew-dashboard-search>
          <kendo-calendar></kendo-calendar>
          <app-calendar-dashboard></app-calendar-dashboard>
        <app-online-users></app-online-users>
        <app-attendance-dashboard></app-attendance-dashboard>
        <app-upcoming-events></app-upcoming-events>
        <app-job-reference></app-job-reference>
        <app-useful-links></app-useful-links>
      </div>
    </div>
  </div>
</div>
</div>